<div class="div_botao">
    <button mat-raised-button type="button" routerLink="/indexCliente">Voltar</button>
</div>
<div class="div_body">
    <form class="example-form" id="form">
        <h1>Cadastro Cliente</h1>
        <table>
            <tr>
                <td>
                    <mat-label>Nome</mat-label><br>
                    <input matInput placeholder="Nome" [formControl]="nome"><br>

                    <mat-label>CPF</mat-label><br>
                    <input matInput placeholder="CPF" [formControl]="cpf"><br>

                    <mat-label>RG</mat-label><br>
                    <input matInput placeholder="RG" [formControl]="rg"><br>

                    <mat-label>Orgão Emissor</mat-label><br>
                    <input matInput placeholder="Orgão Emissor" [formControl]="orgaoEmissor"><br>

                    <mat-label>Data de nascimento</mat-label><br>
                    <div>
                        <input matInput placeholder="Data de nascimento" [matDatepicker]="picker" [formControl]="dt_nascimento">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>

                    <mat-label>Telefone</mat-label><br>
                    <input matInput placeholder="Telefone" [formControl]="telefone"><br>

                    <mat-label>E-mail</mat-label><br>
                    <input matInput placeholder="Email" [formControl]="email"><br>
                </td>
                <td>
                    <mat-label>CEP</mat-label><br>
                    <input matInput placeholder="CEP" [formControl]="cep"><br>

                    <mat-label>Rua</mat-label><br>
                    <input matInput placeholder="Rua" [formControl]="rua"><br>

                    <mat-label>Bairro</mat-label><br>
                    <input matInput placeholder="Bairro" [formControl]="bairro"><br>

                    <mat-label>Número</mat-label><br>
                    <input matInput placeholder="Número" [formControl]="numero"><br>

                    <mat-label>Complemento</mat-label><br>
                    <input matInput placeholder="Complemento" [formControl]="complemento"><br>

                    <mat-label>Estado</mat-label><br>
                    <input matInput placeholder="Estado" [formControl]="estado"><br>

                    <mat-label>Cidade</mat-label><br>
                    <input matInput placeholder="Cidade" [formControl]="cidade"><br>

                </td>
            </tr>
        </table>
        <button mat-raised-button type="button" (click)="salvar()">Cadastrar</button>
    </form>
</div>