<div class="div_botao">
    <button mat-raised-button type="button" routerLink="/indexOnibus">Voltar</button>   
</div>
<div class="div_body">
    <form class="example-form" id="form">
        <h1>Cadastro Ônibus</h1>
        <table>
            <tr>
                <td>
                    <mat-label>Placa</mat-label><br>
                    <input matInput placeholder="Placa" [formControl]="placa"><br>

                    <mat-label>Renavam</mat-label><br>
                    <input matInput placeholder="Renavam" [formControl]="renavam"><br>

                    <mat-label>Ano</mat-label><br>
                    <input matInput placeholder="Ano" [formControl]="ano"><br>
            
                    <mat-label>Quilometragem</mat-label><br>
                    <input matInput placeholder="Quilometragem" [formControl]="quilometragem"><br>

                    <mat-label>Cod Frota</mat-label><br>
                    <input matInput placeholder="Cod Frota" [formControl]="codFrota"><br>
                    
                    <mat-label>Capacidade</mat-label><br>
                    <input matInput placeholder="Capacidade" [formControl]="capacidade"><br>
                </td>
                <td>    
                    <mat-label>TAF</mat-label><br>
                    <input matInput placeholder="TAF" [formControl]="taf"><br>
                    
                    <mat-label>Ref Estadual</mat-label><br>
                    <input matInput placeholder="Ref Estadual" [formControl]="refEstadual"><br>
                    
                    <mat-label>Última Vistoria</mat-label><br>
                    <div>
                        <input matInput placeholder="Última Vistoria" [matDatepicker]="picker" [formControl]="ultimaVistoria">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>
                    
                    
                    <mat-label>Seguro</mat-label><br>
                    <input matInput placeholder="Seguro" [formControl]="seguro"><br>
                    
                    <mat-label>Licenciamento Antt</mat-label><br>
                    <input matInput placeholder="Licenciamento Antt" [formControl]="licenciamentoAntt"><br>
                    
                    <mat-label>Licenciamento Der</mat-label><br>
                    <input matInput placeholder="Licenciamento Der" [formControl]="licenciamentoDer"><br>

                </td>
            </tr>
        </table>
        <button mat-raised-button type="button" (click)="salvar()">Cadastrar</button>
    </form>
</div>