<div class="div_botao">
  <button mat-raised-button routerLink="/indexOnibus">Voltar</button>
</div>
<div class="div_body">
  <div class="div_table">
    <table class="mat-elevation-z8 demo-table">
      <tr>
        <th>Placa</th>
        <th>quilometragem</th>
        <th>capacidade</th>
        <th>Editar</th>
        <th>Excluir</th>
      </tr>
      <tr *ngFor="let dado of dados">
        <td>{{dado.placa}}</td>
        <td>{{dado.quilometragem}}</td>
        <td>{{dado.capacidade}}</td>
        <td><button type="button" (click)="editar(dado.idVeiculo)"><mat-icon>edit</mat-icon></button></td>
        <td><button type="button" (click)="excluir(dado.idVeiculo)"><mat-icon>delete_forever</mat-icon></button></td>
      </tr>
    </table>
  </div>
</div>
