<div class="div_botao">
    <button mat-raised-button routerLink="/indexCliente">Voltar</button>
</div>
<div class="div_body">
    <div class="div_table">
        <table class="mat-elevation-z8 demo-table">
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>email</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
            <tr *ngFor="let dado of dados">
                <td>{{dado.nome}}</td>
                <td>{{dado.cpf}}</td>
                <td>{{dado.email}}</td>
                <td><button type="button" (click)="editar(dado.idPassageiro)"><mat-icon>edit</mat-icon></button></td>
                <td><button type="button" (click)="excluir(dado.idPassageiro)"><mat-icon>delete_forever</mat-icon></button>
                </td>
            </tr>
        </table>
    </div>
</div>
