<div class="div_botao">
    <button mat-raised-button type="button" routerLink="/index">Voltar</button>
</div>
<div class="div_body">
    <form class="example-form" id="form">
        <h1>Cadastro Onibus</h1>
        <table>
            <tr>
                <td>
                    <mat-label>Data Viagem</mat-label>
                    <div>
                        <input matInput placeholder="Data Viagem" [matDatepicker]="picker" [formControl]="dataViagem">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>

                    <mat-label>Horario saida</mat-label><br>
                    <input matInput placeholder="Hora Saída" [formControl]="horaSaida"><br>

                    <mat-label>Horario chegada</mat-label><br>
                    <input matInput placeholder="Hora Chegada" [formControl]="horaChegada"><br>

                    <mat-label>Origem</mat-label><br>
                    <input matInput placeholder="Origem" [formControl]="origem"><br>

                    <mat-label>Destino</mat-label><br>
                    <input matInput placeholder="Destino" [formControl]="destino"><br>

                    <mat-label>Quilometragem</mat-label><br>
                    <input matInput placeholder="Quilometragem" [formControl]="km"><br>
                </td>
                <td>
                    <mat-label>Valor</mat-label><br>
                    <input matInput placeholder="Valor" [formControl]="valor"><br>

                    <mat-label>NFe</mat-label><br>
                    <input matInput placeholder="NFe" [formControl]="nfe"><br>

                    <mat-label>Valor NFe</mat-label><br>
                    <input matInput placeholder="Valor NFe" [formControl]="valorNfe"><br>

                    <mat-label>Observação</mat-label><br>
                    <input matInput placeholder="Observação" [formControl]="observacao"><br>

                    <mat-label>Veículo</mat-label><br>
                    <input matInput placeholder="Veículo" [formControl]="veiculo"><br>

                    <mat-label>Passageiros</mat-label><br>
                    <input matInput placeholder="Passageiros" [formControl]="passageiros"><br>

                    
                </td>
                   
            </tr>
        </table>
        <button mat-raised-button type="button" (click)="salvar()">Cadastrar</button>
    </form> 
</div>