<div class="div_botao">
    <button mat-raised-button type="button" routerLink="/indexViagem">Voltar</button>
</div>
<div class="div_body">
    <form class="example-form" id="form">
        <h1>Cadastro Viagem</h1>
        <table>
            <tr>
                <td>

                    <mat-label>Origem</mat-label><br>
                    <input matInput placeholder="Origem" [formControl]="origem"><br>

                    <mat-label>Destino</mat-label><br>
                    <input matInput placeholder="Destino" [formControl]="destino"><br>

                    <mat-label>Quilometragem</mat-label><br>
                    <input matInput placeholder="Quilometragem" [formControl]="km"><br>
                </td>
                <td>
                    <mat-label>Valor</mat-label><br>
                    <input matInput placeholder="Valor" [formControl]="valor"><br>

                    <mat-label>Observação</mat-label><br>
                    <input matInput placeholder="Observação" [formControl]="observacao"><br>

                    <mat-label>Onibus</mat-label><br>
                    <mat-select matNativeControl required [formControl]="onibus">
                        <mat-option *ngFor="let onibus of onibusList" value="{{onibus.idVeiculo}}" [attr.data-empid]="onibus.id" >
                            {{onibus.placa}}</mat-option>
                    </mat-select><br>
                    

                    <mat-label>Passageiro</mat-label><br>
                    <mat-select matNativeControl required [formControl]="passageiro">
                        <mat-option *ngFor="let passageiro of passageirosList" value="{{passageiro.idPassageiro}}" [attr.data-empid]="passageiro.id">
                            {{passageiro.cpf}}</mat-option>
                    </mat-select><br>
                </td>
            </tr>
        </table>
        <button mat-raised-button type="button" (click)="salvar()">Cadastrar</button>
    </form> 
</div>